@media screen and (max-width: 720px) {
  .projects-preview {
    width: 660px;
    flex-flow: column wrap;
  }
}

.bg{
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 400px;
  //background-image: url("../../assets/bg.jpg");
  //background-size: cover;
  //background-position-y: -310px;
  //background-attachment: local;
  //background-repeat: no-repeat;
  //background: #ffa4da;
  background: linear-gradient(182deg,#ffa4da 10%, rgb(255, 255, 255) 80.58%);
}