.projects-page-container {
  overflow-x: hidden;
  position: relative;
  top: 6.5vh;
  display: flex;
  justify-content: space-between;
  height: 93.5vh;
  .left-container{
    width: 20px;
  }

  .content-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    width: 99vw;
    .icon{
      transition: 0.2s;
      padding: 5px;
      cursor: pointer;        clip-path: circle();
      &:hover{
        background: white;
      }

      &:active{
        background-color: gainsboro;
      }
      span {

        font-size: 50px;
      }
    }

    .content-div{
      .content-details{
        width: 150px;
        display: flex;
        flex-direction: column;
        .content-detail{
          display: flex;
          margin: 10px 0;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-right: #7e7e7e 1px solid;
          border-bottom: #434343 1px solid;
          padding: 10px;
          background-color: white;
          box-shadow: black;
          border-radius: 10px;
          height: 100px;
          &:hover{
            //width: 110%;
            position: relative;
            top: -5px;
            right: 5px;
          }
        }
        .content-detail span:first-child{
          font-weight: bold;
        }
      }

      .content-img img{
        width: 65vw;
        height: 600px;
        border-radius: 20px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        //border: 1px saddlebrown solid;
      }
    }

    .right-container{
      width: 20px;
      background-color: #b6b6b6;


    }
  }
  .menu-container{
    //position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #26143c;
    width: 50px;
    height: 100%;
    overflow: hidden;

  }
  .menu-container:hover{
    width: 300px;
    transition: 0.2s;
  }
}