.projects-overview-container-c{

  .projects-overview-container {
    width: 1400px;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    box-shadow: 5px 2px 20px #d6d6d6;
    svg{
      margin: auto;
      width:100%;
    }
  }
  width: 100%;
  background-color: #f5f5f5;
}

.info{
  margin: 20px auto;
  width: fit-content;
}
.projects-overview-path{
  stroke-dasharray: 500;
  stroke-dashoffset: 1200;
  animation: dash 12s linear infinite;
}

@keyframes dash {
  50% {
    stroke-dashoffset:-100;
  }
  100%{
    stroke-dashoffset: 1200;
  }
}
.projects-overview-track1
{
  height: 580px;
}
.projects-overview-track2
{
  height: 350px;
}