.projectCard-gif {
  width: 100%;
  border-radius: 10px;
  border: #ababab dashed 1px;
  padding: 2px;
}

.projectCard-detail {
  border: #535353 dashed 1px;
  border-radius: 10px;
  background-color: rgba(120, 124, 186, 0.58);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  span {
    margin: 20px auto;
  }
  .projectCard-name {
    font-family: "Times New Roman";
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
  }
  .projectCard-descr {

  }
}